.card
    width: 18rem
    >a
        img
            height: 15rem
            width: 100%
            object-fit: contain
            padding: 1rem
            transition: 0.5s ease

    &:hover
        >a
            img
                transform: scale(1.1)
                transition: 0.5s ease
